{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],

  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSameLine": true,
  "printWidth": 100
}
