---
import PhoneIcon from './icons/PhoneIcon.astro'
---

<div class="hidden bg-primary-800 px-2 py-2 text-white sm:block">
  <div class="flex justify-center gap-2 align-middle md:gap-6">
    <div class="py-auto my-auto flex gap-1 text-sm text-white">
      <span>cepre@unh.edu.pe</span>
    </div>
    <span class="text-white">|</span>
    <div class="py-auto my-auto flex gap-1 text-sm text-white">
      <span class="my-auto">
        <PhoneIcon />
      </span>
      <span> 987 654 321 </span>
    </div>
    <span class="text-white">|</span>
    <div class="py-auto my-auto flex text-sm text-white">
      <a href="#" target="_blank" rel="noopener noreferrer">Facebook</a>
    </div>
  </div>
</div>
