---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/sections/inscripcion/Navbar.astro'
import Pasos from '@/sections/inscripcion/Pasos.astro'

import DatosPersonalesForm from '@/components/react/inscripcion/DatosPersonalesForm'

const pasos = ['Datos personales', 'Matrícula', 'Encuesta socioeconómica', 'Ficha de inscripción']
const pasoActivoIndex = 0
---

<Layout title="CepreUNH - Matrícula Virtual - Datos personales">
  <Navbar />
  <main class="mx-4 max-w-6xl md:mx-6 lg:mx-8 xl:mx-auto">
    <div class="my-3">
      <Pasos pasos={pasos} activo={pasoActivoIndex} />
    </div>
    <section class="mb-6 mt-8">
      <div class="shadow">
        <div>
          <DatosPersonalesForm client:load />
        </div>
      </div>
    </section>
  </main></Layout
>
