---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Cepre UNH">
  <main class="mx-auto max-w-6xl">
    <div class="mt-44 justify-center text-center">
      <h1 class="animate-blurred-fade-in text-7xl">
        Estudia en la <span class="text-gradient">CEPRE UNH</span>
      </h1>
      <p class="mt-10">
        Ven y encontrarás un grato ambiente de estudio, profesores que te motivarán a estudiar y
        muchas cosas más que harán que tu preparación sea una experiencia inolvidable.
      </p>
      <div class="mt-10">
        <a
          href="/inscripcion"
          class="rounded-full bg-primary-900 px-6 py-2 text-white hover:bg-primary-800">
          Matrícula virtual
        </a>
      </div>
    </div>
  </main>
</Layout>
