---
import Image from 'astro/components/Image.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

import ArrowRightIcon from '@/components/react/icons/ArrowRightIcon'
import HeroSlider from '@/components/react/home/HeroSlider'
import ComunicadosSection from '@/components/react/home/ComunicadosSection'
import SedesSection from '@/components/react/home/SedesSection'
import NoticiasSection from '@/components/react/home/NoticiasSection'
import ConvocatoriasSection from '@/components/react/home/ConvocatoriasSection'

import imagenJovenCepre from '/public/assets/images/joven-cepre.png'
import ButtonLink from '@/components/react/ButtonLink'
import Popup from '@/components/react/Popup'
---

<BaseLayout title="Cepre UNH">
  <Popup client:load />
  <HeroSlider client:load />
  <div class="mx-auto flex max-w-6xl gap-8 px-2 py-12">
    <div class="hidden items-center justify-center px-8 text-center sm:block">
      <Image src={imagenJovenCepre} alt="Joven Cepre" width={200} loading="eager" />
    </div>
    <div class="flex flex-col gap-2 text-left">
      <h1 class="text-4xl text-primary-800">
        Garantía de formación <br /> académica <span class="font-noto font-semibold"
          >a nivel de la región</span
        >
      </h1>
      <p>
        Ven y encontrarás un grato ambiente que te motivará a estudiar y muchas cosas más que harán
        que tu preparación sea una experiencia inolvidable.
      </p>
      <div class="flex flex-wrap items-center gap-3">
        <ButtonLink href="#" className="group w-[180px] pe-3">
          <span>Requisitos</span>
          <ArrowRightIcon
            className="ml-4 rounded-full text-xl transition-all group-hover:-rotate-45 group-hover:bg-white group-hover:text-primary-800"
          />
        </ButtonLink>
        <ButtonLink href="#" className="group w-[180px] pe-3">
          <span>Costos</span>
          <ArrowRightIcon
            className="ml-4 rounded-full text-xl transition-all group-hover:-rotate-45 group-hover:bg-white group-hover:text-primary-800"
          />
        </ButtonLink>
      </div>
    </div>
  </div>

  <ComunicadosSection client:load />
  <SedesSection client:load />
  <NoticiasSection client:load />
  <ConvocatoriasSection />
</BaseLayout>
