---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cepre UNH">
	<main>
		<div class="justify-center mt-44 text-center">
			<h1 class="text-7xl animate-blurred-fade-in">Estudia en la <span class="text-gradient">CEPRE UNH</span></h1>
			<p class="mt-10">
				Ven y encontrarás un grato ambiente de estudio, profesores que te motivarán a estudiar y muchas cosas más que harán que tu preparación sea una experiencia inolvidable.
			</p>
			<div class="mt-10">
				<a href="/inscripcion" class="bg-primary-900 hover:bg-primary-800 text-white py-2 px-6 rounded-full">
					Matrícula virtual
				</a>
			</div>
		</div>
	</main>
</Layout>
