---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="CepreUNH - Matrícula Virtual">
  <div class="box flex min-h-[calc(100vh-72px)] items-center justify-center font-bold uppercase">
    <h1 class="text-7xl">Matrícula virtual</h1>
  </div>
</Layout>
