---
import Layout from '@/layouts/Layout.astro'
import TopBar from '@/components/astro/TopBar.astro'
import Menu from '@/components/react/Menu'
import Footer from '@/components/astro/Footer.astro'
const { title } = Astro.props
---

<Layout title={title}>
  <TopBar />
  <Menu client:load />

  <main style={`min-height: calc(100vh - 324px);`}>
    <slot />
  </main>
  <Footer />
</Layout>
